{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["mocha", "prettier"],
  "rules": {
    "comma-dangle": 0,
    "global-require": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}
